.blogCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.blogCard {
  background-color: bisque;
  padding: 1rem;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.blogCard h3 {
  margin-bottom: 1rem;
}

.blogCard p {
  overflow: hidden;
}
