.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.sideMenu {
  grid-column: 1/2;
  height: 100vh;
  background-color: whitesmoke;
}

.mainContent {
  grid-column: auto;
  background-color: antiquewhite;
}
